* {
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    padding-left: 15px;
    padding-right: 15px;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.al-right {
    float: right;
}

.al-left {
    float: left;
}

figure {
    margin: 0;
    margin-bottom: 15px;
}

figure img {
    width: 100%;
    height: auto;
}

article {
    padding-bottom: 15px;
}

a {
    color: #43abc5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo-container {
    width: 7.5%;
}

.logo img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.alt-logo {
    display: none;
}

.nav-container {
    width: 92.5%;
    max-width: 
}

/* desktop */
@media (min-width: 480px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .col-3 {
        float: left;
        width: 33.33%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .menu-icon {
        display: none;
    }
}

/* medium devices */
@media (min-width: 480px) and (max-width: 700px) {
    .col-3 {
        width: 50%;
    }
}

/**/ 
@media (max-width: 699px) {
   
    .logo-container {
        width: 15%;
    }

    .nav-container {
        width: 85%;
    }
}

/* mobile */
@media (max-width: 479px) {
    .menu-icon {
        display: block;
    }
}
